/* header */
#header {width: 100%; height: auto;}

#header .logo {font-size: 0; line-height: 1;}
#header .logo a {display: block; width: 9.76rem; margin: 0 auto; text-align: center;}

#header .util {display: flex; flex-flow: row wrap; gap: 0 1.92rem; align-items: center; justify-content: space-between;}
#header .gbtn_wrap {display: flex; align-items: center; gap: 0 0.56rem;}
#header .gbtn {display: block; width: 4rem; height: 4rem;}
#header .gbtn.alarm {position: relative;}
#header .gbtn.alarm.on:after {content: ""; display: block; position: absolute; top: 0.2rem; right: 0.2rem; width: 0.5rem; height: 0.5rem; border-radius: 50%; background-color: var(--color-white);}

#header.default {padding: 2.28rem 0 1.68rem; background-color: var(--color-main);}
#header.default .logo {margin-bottom: 2rem;}
#header.default .search {flex: 1 auto;}
#header.default .gbtn.cart {background: url('../img/cart-white.svg') no-repeat center/contain;}
#header.default .gbtn.alarm {background: url('../img/alarm-white.svg') no-repeat center/contain;}

/* top menu */
#topMenu {display: flex; align-items: center; margin-top: 2rem; background-color: var(--color-white);}
#topMenu .qk-menu {width: 100%;}
#topMenu .qk-menu .btn {padding: 0.625rem 0;}

/* top button */
.btn-moveTop {display: none; position: fixed; bottom: 11.6rem; right: 2.4rem; z-index: 100; width: 6rem; height: 6rem; border: 0.16rem solid var(--color-gray5); background: url('../img/arrow-top.svg') no-repeat center/1.92rem, rgba(255,255,255,0.7);}

/* footer */
#footer {padding-bottom: 2rem;}
.fnb {display: flex; align-items: center; gap: 1rem 1.6rem; padding-top: 2rem; padding-bottom: 2rem; border-top: 1px solid var(--color-gray6); border-bottom: 1px solid var(--color-gray6);}
.fnb .btn {font-size: 1.6rem; font-weight: 400; color: var(--color-gray3);}
.fnb .btn.on {font-weight: 500; color: var(--color-main);}
.fbody {padding-top: 1.6rem;}
.fbody .cname {font-size: 2rem; font-weight: 600; color: var(--color-gray2);}
.fbody .cinfo {margin-top: 1.2rem; font-size: 1.6rem; font-weight: 300; color: var(--color-gray2);}
.copyright {margin-top: 0.4rem; font-size: 1.6rem; font-weight: 300; color: var(--color-gray3);}

/* main */
.main-contents .cp-title {margin-bottom: 1.83rem;}
.main-contents .cp-title .tp-expl {margin-top: 0.8rem;}

.bottom_box {margin-top: 2.4rem;}

.main_visual {margin-top: 0;}
.main_visual .item {height: 0; padding-bottom: 75.758%;}
.main_visual .item .link {display: block;}
.main_visual .item .image {position: relative; overflow: hidden; font-size: 0;}

.main_category {margin-top: 4.4rem;}

.main_best .cp-title .text-box .icon {width: 4.24rem;}
.main_best-slide {}
.main_best-slide .cp-item {width: 32rem; margin-right: 2rem;}

.main_recomm .cp-title .text-box .icon {width: 4.4rem;}
.main_recomm-slide .cp-item {width: 22rem; margin-right: 2rem;}

.main_new .cp-title .text-box .icon {width: 3.76rem;}
.main_new-slide .cp-item {width: 22rem; margin-right: 2rem;}

.main_today .cp-title .icon-box {width: 6.4rem;}
.main_today-slide .cp-item {width: 44rem; margin-right: 2.4rem;}
.main_today-slide .cp-item .thumb_area {padding-bottom: 82%;}

.main_live .cp-title .icon-box {width: 11rem;}
.main_live-slide .cp-live {width: 44rem; margin-right: 2.4rem;}