/* top menu */
#topMenu {display: flex; align-items: center; margin-top: 2rem; background-color: var(--color-white);}
#topMenu .qk-menu {width: 100%;}
#topMenu .qk-menu .btn {padding: 0.625rem 0;}

/* top button */
.btn-moveTop {display: none; position: fixed; bottom: 11.6rem; right: 2.4rem; z-index: 100; width: 6rem; height: 6rem; border: 0.16rem solid var(--color-gray5); background: url('../img/arrow-top.svg') no-repeat center/1.92rem, rgba(255,255,255,0.7);}

/* footer */
#footer {padding-bottom: 2rem;}
.fnb {display: flex; align-items: center; gap: 1rem 1.6rem; padding-top: 2rem; padding-bottom: 2rem; border-top: 1px solid var(--color-gray6); border-bottom: 1px solid var(--color-gray6);}
.fnb .btn {font-size: 1.6rem; font-weight: 400; color: var(--color-gray3);}
.fnb .btn.on {font-weight: 500; color: var(--color-main);}
.fbody {padding-top: 1.6rem;}
.fbody .cname {font-size: 2rem; font-weight: 600; color: var(--color-gray2);}
.fbody .cinfo {margin-top: 1.2rem; font-size: 1.6rem; font-weight: 300; color: var(--color-gray2);}
.copyright {margin-top: 0.4rem; font-size: 1.6rem; font-weight: 300; color: var(--color-gray3);}

/* main */
.main-contents .cp-title {margin-bottom: 1.83rem;}
.main-contents .cp-title .tp-expl {margin-top: 0.8rem;}

.bottom_box {margin-top: 2.4rem;}

.main_visual {margin-top: 0;}
.main_visual .item {height: 0; padding-bottom: 75.758%;}
.main_visual .item .link {display: block;}
.main_visual .item .image {position: relative; overflow: hidden; font-size: 0;}

.main_category {margin-top: 4.4rem;}

.main_best .cp-title .icon-box:after {width: 2.16rem; height: 3.4rem; background-image: url('../img/icon-best.svg');}
.main_best-slide {}
.main_best-slide .cp-item {width: 32rem; margin-right: 2rem;}

.main_recomm .cp-title .icon-box:after {width: 2.92rem; height: 3.6rem; background-image: url('../img/icon-recomm.svg');}
.main_recomm-slide .cp-item {width: 22rem; margin-right: 2rem;}

.main_popular .cp-title .icon-box:after {width: 2.88rem; height: 2.6rem; background-image: url('../img/icon-heart.svg');}
.main_popular-slide .cp-item {width: 22rem; margin-right: 2rem;}

.main_today .cp-title .icon-box:after {width: 3.48rem; height: 3.12rem; background-image: url('../img/icon-time.svg');}
.main_today-slide .cp-item {width: 44rem; margin-right: 2.4rem;}
.main_today-slide .cp-item .prod-thumb_area {padding-bottom: 82%;}

.main_live .cp-title .icon-box {width: 11.08rem; height: auto; background: none;}
.main_live .cp-title .icon-box:after {display: none;}
.main_live-slide .cp-live {width: 44rem; margin-right: 2.4rem;}

/* product */
/* > list */
.prod-topBanner {margin-top: 0;}
.prod-topBanner .item {height: 0; padding-bottom: 52.9%;}

.prod-list__category {margin-top: 2rem;}

.prod-dp {margin-top: 4.4rem;}
.prod-dp__title h3 {font-size: 3.6rem; font-weight: 600; color: var(--color-black2);}
.prod-dp-ct {display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: flex-start; gap: 4.8rem 2.4rem; margin-top: 3.44rem;}
.prod-dp-ct .cp-item {width: calc(100% / 2 - 2.4rem);}