/* Typography */
.tp-expl {font-size: 2.16rem; font-weight: 500; color: var(--color-gray2); line-height: normal;}

/* Buttons */
.ui-btn {display: block; border: 0; background: none; text-align: center;}

.ui-btn.sizeL {width: 28rem; height: 6rem; font-size: 1.8rem; font-weight: 700;}
a.ui-btn.sizeL {line-height: 6rem;}
.ui-btn.sizeM {width: 20rem; height: 4.48rem; font-size: 1.6rem; font-weight: 500;}
a.ui-btn.sizeM {line-height: 4.48rem;}
.ui-btn.sizeS {width: 15rem; height: 3.5rem; font-size: 1.4rem; font-weight: 300;}
a.ui-btn.sizeS {line-height: 3.5rem;}

.ui-btn.st1 {color: var(--color-white); background-color: var(--color-main);}
.ui-btn.stBlack {color: var(--color-white); background-color: var(--color-black);}
.ui-btn.stWhite {color: var(--color-black); background-color: var(--color-white); border: 1px solid var(--color-black);}

.ui-btn.active {color: var(--color-white); background-color: var(--color-main);}
.ui-btn:disabled,
.ui-btn.disabled {color: var(--color-gray3); background-color: var(--color-gray4);}

.ui-btn[data^="stIcon"] {display: flex;}
.ui-btn[data^="stIcon"] .icn {vertical-align: middle;}
.ui-btn[data^="stIcon"] .txt {vertical-align: middle;}
.ui-btn[data="stIconLeft"] {align-items: center; justify-content: center;}
.ui-btn[data^="stIconLeft"] .icn {margin-right: 5px;}
.ui-btn[data="stIconRight"] {margin-left: 5px; align-items: center; justify-content: center;}
.ui-btn[data^="stIconRight"] .icn {margin-left: 5px;}
.ui-btn[data="stIconLeft2"] {padding-left: 1rem; padding-right: 1rem; align-items: center; justify-content: space-between;}
.ui-btn[data="stIconRight2"] {padding-left: 1rem; padding-right: 1rem; align-items: center; justify-content: space-between;}

.ui-btn.more {position: relative; padding-right: 1.52rem; font-size: 2.24rem; font-weight: 500; color: var(--color-gray3);}
.ui-btn.more:after {content: ""; display: block; width: 0.72rem; height: 1.28rem; margin-top: -0.64rem; position: absolute; top: 50%; right: 0; z-index: 1; background: url('../img/arrow-right2.svg') no-repeat center/contain;}

.ui-btn.moreLong {display: flex; align-items: center; justify-content: center; width: 100%; height: 6rem; border: 0.2rem solid #eee; background-color: #fff; box-shadow: 0 0 2rem 0 rgba(0,0,0,0.05);}
.ui-btn.moreLong .text {position: relative; padding-right: 1.52rem; font-size: 2.16rem; font-weight: 500; color: var(--color-gray3);}
.ui-btn.moreLong .text:after {content: ""; display: block; width: 0.72rem; height: 1.28rem; margin-top: -0.64rem; position: absolute; top: 50%; right: 0; z-index: 1; background: url('../img/arrow-right2.svg') no-repeat center/contain;}

/* Form Elements */
.frm-input {padding-left: 1rem; padding-right: 1rem; height: 4rem; border: 1px solid var(--color-gray5); font-size: 1.6rem; font-weight: 400; color: var(--color-black);}
.frm-input:focus {border-color: var(--color-main); box-shadow: 0 0 0.5rem var(--color-main);}
.frm-input:disabled {background-color: var(--color-gray);}
.frm-input::placeholder {font-weight: 300; color: var(--color-gray3);}

.frm-select {padding-left: 1rem; padding-right: 3.5rem; height: 4rem; border: 1px solid var(--color-gray5); font-size: 1.6rem; font-weight: 400; color: var(--color-black); background: url('../img/arrow-down.png') no-repeat center right 1rem/1.6rem, var(--color-white); appearance: none;}
.frm-select::-ms-expand { display: none; }
.frm-select:focus {border-color: var(--color-main); box-shadow: 0 0 0.5rem var(--color-main);}
.frm-select:disabled {background-color: var(--color-gray);}
.frm-select option:disabled {font-weight: 300; color: var(--color-gray3);}

.frm-choice input[type='checkbox'] {display: none;}
.frm-choice input[type='checkbox'] + label {display: block; position: relative; height: 2.6rem; padding-left: 3.5rem; font-size: 1.6rem; font-weight: 400; color: var(--color-black); cursor: pointer;}
.frm-choice input[type='checkbox'] + label:before {content: ""; display: block; position: absolute; top: 50%; left: 0; z-index: 1; width: 2.6rem; height: 2.6rem; transform: translateY(-50%); border: 1px solid var(--color-gray5); background: #fff; box-sizing: border-box;}
.frm-choice input[type='checkbox']:checked + label {}
.frm-choice input[type='checkbox']:checked + label:before {border-color: var(--color-main); background: url('../img/check-active.png') no-repeat center/1.6rem, #fff;}

.frm-choice input[type='radio'] {display: none;}
.frm-choice input[type='radio'] + label {display: block; position: relative; height: 2.6rem; padding-left: 3.5rem; font-size: 1.6rem; font-weight: 400; color: var(--color-black); cursor: pointer;}
.frm-choice input[type='radio'] + label:before {content: ""; display: block; position: absolute; top: 50%; left: 0; z-index: 1; width: 2.6rem; height: 2.6rem; transform: translateY(-50%); border: 1px solid var(--color-gray5); border-radius: 50%; box-sizing: border-box;}
.frm-choice input[type='radio'] + label:after {content: ""; display: block; position: absolute; top: 50%; left: 0.7rem; z-index: 1; width: 1.2rem; height: 1.2rem; transform: translateY(-50%); border: 0; border-radius: 50%; box-sizing: border-box;}
.frm-choice input[type='radio']:checked + label {}
.frm-choice input[type='radio']:checked + label:before {border-color: var(--color-main);}
.frm-choice input[type='radio']:checked + label:after {background: var(--color-main);}

.frm-txtar {padding: 1rem; border: 1px solid var(--color-gray5); font-size: 1.6rem; font-weight: 400; color: var(--color-black);}
.frm-txtar:focus {border-color: var(--color-main); box-shadow: 0 0 0.5rem var(--color-main);}
.frm-txtar::placeholder {font-weight: 300; color: var(--color-gray3);}

.search {position: relative; width: 28rem;}
.search .keyword {padding-left: 1rem; padding-right: 1rem; height: 6rem; border: 1px solid var(--color-gray5); font-size: 1.6rem; font-weight: 400; color: var(--color-black); background-color: #f3f3f3;}
.search .submit {position: absolute; top: 50%; right: 1rem; transform: translateY(-50%); width: 2.67rem; height: 2.67rem; background: url('../img/search.svg') no-repeat center/contain;}

/* Components */
.cp-horizon-menu {overflow: hidden;}
.cp-horizon-menu .btn {width: auto; font-size: 2.34rem; font-weight: 500; color: var(--color-black2); line-height: 1; margin-right: 2rem;}
.cp-horizon-menu .btn.active {color: var(--color-main);}

.cp-quick-category {display: flex; flex-flow: row wrap; justify-content: space-between; gap: 2.4rem 1.44rem}
.cp-quick-category .ui-btn {width: calc((100% / 5) - (5.76rem / 5));}
.cp-quick-category .icon {display: block; overflow: hidden; position: relative; width: 100%; height: 0; padding-bottom: 100%; border-radius: 50%; background-color: var(--color-gray);}
.cp-quick-category .icon img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 90%;}
.cp-quick-category .name {margin-top: 0.64rem; font-size: 2.08rem; font-weight: 400; color: var(--color-black3);}

.cp-quick-category .viewAll .icon:before {content: ""; display: block; width: 8rem; border-top: 0.4rem solid #999; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.cp-quick-category .viewAll .icon:after {content: ""; display: block; height: 8rem; border-left: 0.4rem solid #999; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.cp-item {position: relative;}
.cp-item .thumb_area {overflow: hidden; position: relative; width: 100%; height: 0; padding-bottom: 100%; font-size: 0;}
.cp-item .thumb {display: block; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%;}
.cp-item .thumb img {width: 100%; height: 100%; object-fit: cover; max-width: none;}
.cp-item .wish-btn {position: absolute; bottom: 0.8rem; right: 0.8rem; z-index: 10; width: 5rem; height: 5rem; border-radius: 50%; background: url('../img/wish.png') no-repeat center/2.08rem auto, rgba(0,0,0,0.3);}
.cp-item .num {display: block; position: absolute; top: 0; left: 0; z-index: 5; width: 3.664rem; height: 4rem; line-height: 4rem; border-radius: 1.67rem 0 1.67rem 0; font-size: 1.8rem; font-weight: 600; color: var(--color-white); background-color: var(--color-black3); text-align: center;}
.cp-item .timeLimit {position: absolute; bottom: 0; left: 0; z-index: 5; width: 100%; height: 4.67rem; line-height: 4.67rem; font-size: 2.15rem; font-weight: 700; color: var(--color-white); text-align: center; background-color: rgba(0,0,0,0.5);}
.cp-item .timeLimit .timeView {position: relative; padding-left: 3.14rem; font-size: 2.34rem; vertical-align: top;}
.cp-item .timeLimit .timeView:before {content: ""; display: block; position: absolute; top: 50%; left: 0; z-index: 1; width: 2.15rem; height: 2.15rem; margin-top: -1.07rem; background: url('../img/time.png') no-repeat center/2.15rem;}
.cp-item .info_area {display: block; margin-top: 1.28rem;}
.cp-item .name {margin-bottom: 0.8rem; font-size: 2.56rem; font-weight: 500; color: var(--color-black3);}
.cp-item .dc-price {margin-bottom: 0.8rem; font-size: 2.24rem; font-weight: 400; color: var(--color-gray3); line-height: 1; text-decoration: line-through;}
.cp-item .dc-percent {font-size: 2.96rem; font-weight: 700; color: var(--color-main); line-height: 1;}
.cp-item .price {font-size: 2.96rem; font-weight: 700; color: var(--color-black2); line-height: 1;}
.cp-item .tag_area {display: flex; gap: 0.64rem; margin-top: 1.28rem;}
.cp-item .tag {display: block; width: auto; height: 3.4rem; line-height: 3.4rem; padding: 0 0.8rem; border-radius: 0.48rem; font-size: 1.92rem; font-weight: 500;}
.cp-item .tag.coupon {color: var(--color-main); background-color: var(--color-sub);}
.cp-item .tag.freeDelivery {color: #8c591d; background-color: #fff5d2;}

.cp-item .small {}
.cp-item .small .name {font-size: 2.4rem;}
.cp-item .small .dc-price {font-size: 2.08rem;}
.cp-item .small .dc-percent {font-size: 2.8rem;}
.cp-item .small .price {font-size: 2.8rem;}

.cp-live {display: block; position: relative; width: 100%;}
.cp-live .thumb_area {overflow: hidden; position: relative; width: 100%; height: 0; padding-bottom: 127.273%; font-size: 0;}
.cp-live .thumb {display: block; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%;}
.cp-live .thumb_area:before {content: ""; display: block; position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); opacity: 0.5;}
.cp-live .thumb img {width: 100%; height: 100%; object-fit: cover; max-width: none;}
.cp-live .info_area {display: flex; flex-direction: column; justify-content: space-between; align-content: flex-start; align-items: flex-start; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; padding: 1.17rem 1rem 3.4rem 1rem;}
.cp-live .live-reserv {overflow: hidden; display: flex; flex-flow: row wrap; align-items: center; min-width: 22.8rem; max-width: 100%; height: 4rem; font-size: 0; background-color: rgba(0,0,0,0.6); text-align: center;}
.cp-live .live-reserv .t1 {display: flex; align-items: center; justify-content: center; width: 7.36rem; height: 100%; font-size: 1.87rem; font-weight: 600; color: var(--color-white); background-color: var(--color-sub2);}
.cp-live .live-reserv .t2 {display: flex; align-items: center; justify-content: center; width: calc(100% - 7.36rem); height: 100%; padding: 1rem; font-size: 1.93rem; font-weight: 600; color: var(--color-white);}
.cp-live .live-title {width: 100%; padding-left: 1.33rem; font-size: 2.27rem; font-weight: 500; color: var(--color-white); word-break: break-all;}

#cp-dockbar {overflow: hidden; display: flex; justify-content: space-between; gap: 0 0.5rem; position: fixed; bottom: 0; left: 50%; z-index: 100; transform: translateX(-50%); width: var(--max-width); max-width: 100%; height: 9.2rem; padding: 0 2rem; border-radius: 1.68rem 1.68rem 0 0; background-color: var(--color-white); box-shadow: 0 -0.168rem 1.68rem 0.33rem rgba(0,0,0,0.05);}
#cp-dockbar .btn {display: flex; flex-direction: column; justify-content: center; align-items: center; width: calc((100% / 5) - (3.2rem / 5)); height: 100%; text-align: center;}
#cp-dockbar .btn .icon {display: block; width: 4.8rem; height: 4.8rem; margin: 0 auto;}
#cp-dockbar .btn .icon:before {content: ""; display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: center;}
#cp-dockbar #dockbar-shop .icon:before {background-image: url('../img/dockbar-shop.svg');}
#cp-dockbar #dockbar-member .icon:before {background-image: url('../img/dockbar-member.svg');}
#cp-dockbar #dockbar-home .icon:before {background-image: url('../img/dockbar-home.svg');}
#cp-dockbar #dockbar-market .icon:before {background-image: url('../img/dockbar-market.svg');}
#cp-dockbar #dockbar-affiliate .icon:before {background-image: url('../img/dockbar-affiliate.svg');}

#cp-dockbar #dockbar-shop.on .icon:before {background-image: url('../img/dockbar-shop_on.svg');}
#cp-dockbar #dockbar-member.on .icon:before {background-image: url('../img/dockbar-member_on.svg');}
#cp-dockbar #dockbar-home.on .icon:before {background-image: url('../img/dockbar-home_on.svg');}
#cp-dockbar #dockbar-market.on .icon:before {background-image: url('../img/dockbar-market_on.svg');}
#cp-dockbar #dockbar-affiliate.on .icon:before {background-image: url('../img/dockbar-affiliate_on.svg');}

#cp-dockbar .btn .text {display: block; margin-top: 0.16rem; font-size: 1.6rem; font-weight: 500; color: var(--color-gray3); line-height: 1;}
#cp-dockbar .btn.on .text {color: var(--color-main);}

.cp-title {display: flex; align-items: flex-end; justify-content: space-between;}
